@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@702&family=Lexend+Deca&display=swap');
/* 
font-family: 'Big Shoulders Display', cursive;
font-family: 'Lexend Deca', sans-serif; */

body {
    background-color: hsl(0, 0%, 95%);
    align-items: center;
    font-size: 15px;
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 400;
    color: hsla(0, 0%, 100%, 0.75);
}

p {
    padding: 25px 0;
    height: 150px;
}

.image-on-top {
    padding: 10% 0;
}

.card-name {
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 300%;
}

.flex-container {
    display: flex;
    flex-direction: row;
    padding: 50px;
    max-width: 960px;
    margin: 175px auto;
}

.flex-item-left, .flex-item-middle, .flex-item-right {
    flex: 33%;
    padding: 38px;
    padding-bottom: 5%;
}

.flex-item-left {
    background-color: hsl(31, 77%, 52%);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.flex-item-middle {
    background-color: hsl(184, 100%, 22%);
}

.flex-item-right {
    background-color: hsl(179, 100%, 13%);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.learn-more {
    border-radius: 20px;
    background-color: hsl(0, 0%, 95%);
    padding: 5% 10%;
    bottom: 5%;
}

.left-learn-more {
    color: hsl(31, 77%, 52%);
}

.learn-more:hover {
    border: 1px solid hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
}

.left-learn-more:hover {
    background-color: hsl(31, 77%, 52%);
}

.middle-learn-more {
    color: hsl(184, 100%, 22%);
}

.middle-learn-more:hover {
    background-color: hsl(184, 100%, 22%);
}

.right-learn-more {
    color: hsl(179, 100%, 13%);
}

.right-learn-more:hover {
    background-color: hsl(179, 100%, 13%);

}

/*****Mobile*****/
@media (max-width: 375px) {
    p{
        height: 110px;
    }

    .flex-container {
        flex-direction: column;
    }

    .flex-item-left {
        border-top-right-radius: 5px;
        border-bottom-left-radius: 0px;
    }

    .flex-item-right {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 5px;
    }
}